.head{
    margin-right:200px;
    margin-top: -19px;
    height: 50px;
    background-color: #efefef;
    position: relative;
}
.vr{
    margin-left: 20px;
    margin-right: 20px;
}

.navbar{
    margin-top: 20px;
}
.hello{
    position: sticky;
    top: 0;
    padding-bottom: 10px;
    background-color: #ffffff;
    margin-bottom: -10px;
}
.logo{
    margin-left: 180px;
}
.nav2{
    font-size: .9rem;
    margin: auto;
}
.nav-item{
    color: #008FE2;
}
.nav-item:hover{
    background-color: #2D529F;
    color: white;
} 

.main1-item{
    width:100%;
    height: 90vh;
    /* flex-wrap: nowrap; */
}

.main2{
    margin-top: -30px;
    width: 100%;
}
.main2-item{
    border: 1px solid transparent;
    background-color: azure;
    padding: 20px;
    text-align: center;  
}
.main2A{
    /* margin-left: 25px; */
    /* width: 100%; */
}
.main2B{
    background-size: cover;
}
.main2C{
    padding: 10px 30px 10px 30px;
    background-color: transparent;
    font-size: small;
    font-weight: 700;
    margin-top: -200px;
}

.main3{
    background-color: #dbdbdb;
    margin-top: 60px;
}
.main3-item{
    padding: 20px;
    width: 300px;
    margin-left: 100px;
}
.figcap{
    width: 200px;
    margin-left: 55px;
    font-size: large;
}
.figcap:hover{
    background-color: #008FE2;
    color: white;
}
.main3-button{
    padding: 10px 30px 10px 30px;
    background-color: transparent;
    font-size: small;
    font-weight: 700;
}

.main5-item:hover{
   box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.04);
}